# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.env_copy
*.egg-info/
dist/
build/
.streamlit/
app_data/sessions/
certbot/
backups/
db/*.backup

# IDE
.vscode/settings.json
.vscode/*.xml

# OS
.DS_Store
Thumbs.db

# Database & Secrets (никогда не коммитим!)
*.dump
*.sql.bak
credentials.json
csv_export/

# Text
*.docx

# Claude
.claude/